* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 525px) {
  html {
    font-size: 58%;
  }
}
body {
  font-size: 1.4rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5em;
}
li {
  font-size: 1.4rem;
}

html,
body {
  min-width: 29rem;
  color: #4d4e53;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}
body {
  display: block;
  margin: 0.8ren;
}

#navbar {
  display: block;
  position: fixed;
  min-width: 29rem;
  top: 0px;
  left: 0px;
  width: 30rem;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

header {
  color: black;
  margin: 1rem;
  text-align: center;
  font-size: 2.1rem;
  display: block;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 1rem 3rem;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
/**/
/**/
/**/

#main-doc {
  position: absolute;
  margin-left: 30rem;
  padding: 2rem;
  margin-bottom: 11rem;
  display: block;
}

#main-doc header {
  font-size: 3rem;
  text-align: left;
  margin: 0px;
  font-weight: 700;
}

section article {
  color: #4d4e53;
  margin: 1.5rem;
  font-size: 0.96em;
}

code {
  display: block;
  background-color: #f7f7f7;
  font-size: 1.42rem;
  padding: 1.3rem 1.2rem;
  text-align: left;
  border-radius: 0.5rem;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
}
@media only screen and (max-width: 815px) {
  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 87%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}
